<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alist Buka</title>
</head>
<body style="background: hotpink;">
    <div>
        {% for gala in jibola %}
            <div>
                <a href="{% url 'food' gala.id %}"><p>Name:{{gala.name}}</p></a>
                <a href="{% url 'food' gala.id %}"><p>Image: <img src="{{gala.image.url}}" style="height: 100px;"></p></a>
            </div>
            <br>    
        {% endfor %}
    </div>
</body>
</html>